html {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: white;
}

.page {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #221551;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.heading {
    font-size: 32px;
    font-weight: bold;
}

.grid-container {
    height: 75vh;
    width: 75vh;
    display: grid;
}

.square {
    outline: 1px solid teal;
    transition: all 0.4s;
}

.button-container {
    min-width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

button {
    font-family: "Montserrat";
    font-size: 1em;
    background-color: transparent;
    color: white;
    border: 2px solid deeppink;
    border-radius: 4px;
    padding: 0.5em;
    outline: none;
    transition: all 0.4s;
}

button:hover {
    transform: scale(1.1, 1.1);
    background-color: deeppink;
}